@{
    Layout = "_Layout";
    ViewData["Title"] = "Acceso denegado";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Acceso denegado</h1>
        <p class="lead mb-3">Inicia sesiòn para poder acceder a la pagina</p>
        <a class="" href="/Account/Login">Inicia sesiòn</a>
    </div>
</div>
